
    <div class="navbar navbar-default navbar-fixed-top" role="navigation" ng-controller="HeaderCtrl">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Fire Chart</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Make Chart</a></li>
            <li><a href="#about">Introduce</a></li>
            <li><a href="#movie">Gallery</a></li>
            <li><a href="#d3">D3</a></li>
            <li><a href="#login">Login</a></li>

            <li class="dropdown avatar" ng-if="auth.user">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <img ng-src="{{auth.user.thirdPartyUserData.picture}}" alt="..." class="img-circle">
                Me <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#/user-charts">My Charts</a></li>
                <li><a href="#/user-account">My Account</a></li>
                <li><a href="#" ng-click="auth.$logout()">Sign out</a></li>
              </ul>
            </li>
            <li ng-if="!auth.user">
              <a href="#" ng-click="auth.$login('google')">Sign in</a>
            </li>

          </ul>
        </div>
      </div>
    </div>
