<!-- sing-in start -->
<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading hidden-xs">
      <div class="row">
        <div class="col-sm-6">
          <h4>Sign up</h4>
        </div>
        <div class="col-sm-6">
          <p class="text-right">Already have an account? Login</p>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-6 visible-xs">
          <p class="lead">Sign up with:</p>
          <div class="form-group">
            <button type="button" class="btn btn-default">
              <p class="text-info text-left">
                <i class="fa fa-facebook"></i>
              </p>
            </button>
            <button type="button" class="btn btn-default">
              <p class="text-danger text-left">
                <i class="fa fa-google-plus"></i>
              </p>
            </button>
            <button type="button" class="btn btn-default">
              <p class="text-primary text-left">
                <i class="fa fa-twitter"></i>
              </p>
            </button>
          </div>
        </div>
        <div class="col-sm-6 hidden-xs">
          <p class="lead">Sign up with:</p>
          <div class="form-group">
            <button type="button" class="btn btn-default btn-block">
              <p class="text-info text-left">
                <i class="fa fa-facebook"></i> FACEBOOK
              </p>
            </button>
          </div>
          <div class="form-group">
            <button type="button" class="btn btn-default btn-block">
              <p class="text-danger text-left">
                <i class="fa fa-google-plus"></i> GOOGLE
              </p>
            </button>
          </div>
          <div class="form-group">
            <button type="button" class="btn btn-default btn-block">
              <p class="text-primary text-left">
                <i class="fa fa-twitter"></i> TWITTER
              </p>
            </button>
          </div>
        </div>
        <div class="col-sm-6">
          <p class="lead">Sign up With Email:</p>
          <div class="form-group">
            <input type="text" class="form-control input-lg" placeholder="Email">
          </div>
          <div class="form-group">
            <input type="text" class="form-control input-lg" placeholder="Password">
          </div>
          <div class="form-group">
            <input type="text" class="form-control input-lg" placeholder="RePassword">
          </div>
          <div class="form-group">
            <button type="button btn-lg" class="btn btn-danger btn-block">GET STARTED!</button>
            <span class="help-block">
              By signing up, you agree to our 
              <a href="mailto:#">Terms of service</a>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- sing-in end -->