.dropdown.avatar > a > img {
  max-width: 24px;
}


body {
  min-height: 2000px;
  padding-top: 54px;


  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}

.container {
width: 970px;
}

.carousel {
height: 737px;
margin-bottom: 60px;
}